main{
  &{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
  }
  h1{
    grid-column: 1/-1;
    grid-row: 1/span 1;
    align-self: center;
    justify-self: center;
  }
  div:nth-of-type(1){
    &{
      width: calc(100% - 280px);
      display: grid;
      grid-row: 2/span 1;
      grid-column: 1/-1;
      justify-self: center;
      gap: 16px;
    }

    article{
      &{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        gap: 25px;
        margin: 25px 0;
      }

      img{
        width: 100%;
        grid-column: 1/span 1;
        grid-row: 1/span 1;
      }
      h2{
        width: 80%;
        grid-column: 1/span 1;
        grid-row: 2/span 1;
      }
      p{
        width: 70%;
        grid-column: 1/span 1;
        grid-row: 3/span 1;
      }
      a{
        margin: 5px 0;
        grid-column: 1/span 1;
        grid-row: 4/span 1;
      }

      &:nth-of-type(1n){
        grid-column: 1/span 1;

      }
      &:nth-of-type(2n){
        grid-column: 2/span 1;
        img{
          width: 100%;
          margin-top: 20px;
          grid-column: 1/span 1;
          grid-row: 4/span 1;
        }
        h2{
          width: 80%;
          grid-column: 1/span 1;
          grid-row: 1/span 1;
        }
        p{
          width: 70%;
          grid-column: 1/span 1;
          grid-row: 2/span 1;
        }
        a{
          margin: 5px 0;
          grid-column: 1/span 1;
          grid-row: 3/span 1;
        }
        p.post-date{
          top: 300px;
          bottom: 0;
        }
      }


      p.post-date{
        height: fit-content;
        position: relative;
        bottom: 500px;
        left: 15px;
        background: #000;
        border-radius: 10px;
        padding: 7px 10px;
        width: fit-content;
        display: grid;
        align-content: center;
        justify-content: center;
        color: white;
      }

    }
  }
  div.page-list{
    &{
      grid-column: 1/-1;
      grid-row: 3/span 1;
      justify-self: center;
      align-self: center;
    }
    ul{
      display: grid;
      gap: 5px;
    }
  }
}
svg{
  height: 16px;
}
@media screen and (max-width: 1623px) {
  main{
    grid-template-columns: 1fr;
  }
}